*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    font-family: 'Roboto', sans-serif;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, #0f2027, #203a43, #2c5364);
}

ul{
    list-style: none;
}
.navigation{
    display: flex;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: linear-gradient(to right, #0f2027, #203a43, #2c5364);
    z-index: 10;
}
.navbar{
    /* border: 1px solid black; */
    display: flex; 
    width: 100%;
    justify-content: center;
    align-items: center;
    height: 8vh;
}

.navbar li{
    padding : 0 2vw;
}

#name{
    color: #b3d7ff;
    font-size: 2vh;
    font-weight: 600;
    margin-right: auto;
}
.navbar li a{
    
    text-decoration: none;
    color: #b3d7ff;
    font-size: 2vh;
    font-weight: 520;
}

/* Home page  */

#bio{
    /* border: 1px solid black; */
    display: flex;
    height: 20%;
    margin-top: 24%;
    justify-content: space-between;
    align-items: center;
}

#intro{
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 15vw;
}

/* My name  */
#hw{
    /* color: yellow; */
    color: #ffffcc;
    text-align: left;
    font-weight: 800;
    font-size: 4vw;
    position: relative;
    opacity: 0;
    left: -100%;
    animation: slide-in 0.7s forwards;

}
@keyframes slide-in {
    to {
        left: 0;
        opacity: 1;
    }
}

/* Other content  */
.mi{
    color:#dddddd;
    margin-right: auto;
    font-size: 1.5vw;
    font-weight: 400;
    position: relative;
	opacity: 0;
	/* top: 100%; */
    left: -100%;
    animation: slide-inr 0.9s forwards;
}
@keyframes slide-inr {
    to {
        top: 0;
        left: 0;
        opacity: 1;
    }
}

#hello{
    color: #b3d7ff; 
    padding-left: 0.5vw;
    margin-right: auto;
    font-size: 1.5vw;
    font-weight: 400;
    position: relative;
	opacity: 0;
	/* top: 100%; */
    left: -100%;
    animation: slide-inr 0.9s forwards;
}

/* Home page image  */
/* Home page image  */
#image{
    display: flex;
    align-items: center;
    background-image: url("Assets/IMG_20200816_173312-compressed-3.jpg");
    background-size: cover;
    margin-right: 9vw;
    width:28vw;
    height:28vw;
    border-radius: 50%;

    /* Animation  */
    position: relative;
	opacity: 0;
    right: -100%;
    animation: slide-img 0.7s forwards;
}

@keyframes slide-img {
    to {
        top: 0;
        right: 0;
        opacity: 1;
    }
}

